@tailwind base;
@tailwind components;
@tailwind utilities;

.letter {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .note {
  @apply transition-colors duration-300;
}

body * {
  @apply transition-colors duration-300;
} */
