@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: 210deg 40% 98%,
    --color-content: 221deg 39% 11%,
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: 221deg 39% 11%,
      --color-content: 210deg 40% 96%,
    }
  }

  :root[class="dark"] {
    --color-bg: 221deg 39% 11%,
    --color-content: 210deg 40% 96%,
  }
}

/* .note {
  @apply transition-colors duration-300;
}

body * {
  @apply transition-colors duration-300;
} */


